.button {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background : #DFE1E5;
  transition: 0.2s;
}

.button:hover {
  color: white;
  background: #4285f4;
  transition: 0.3s;
}

.operator {
    background: #F1F3F4;
}
